// @import "tools.scss";
@import '_variables.scss';


form{
	.footer{
		height: auto;
		width: 100%;
		position: relative;
		float: left;
	}
}

aside{
	position: fixed;
	left: 0;
	top: 0;
	width: 130px;
	height: 100%;
	background-color: $gfi;
	padding: 20px 0 20px 0;
	z-index: 1000;

	ul.onglets{
		position: relative;
		height: 100%;
		width: 100%;

		.onglet{
			position: relative;
			float: left;
			height: calc(100% / 5);
			width: 100%;
			background-color: $gfi;
			text-align: center;
			cursor: pointer;
			@include transition(all, 0.3s);

			&:hover{
				background-color: lighten($gfi, 10%);
			}

			&[state='true']{
				background-color: white;
			}

			img{
				position: absolute;
				top: 50%;
				left: 50%;
				height: 50%;
				width: auto;

				@include translate(-50%, -50%);
			}
		}
	}
}




#ajout-tag-wrap{
		cursor: text;
		width: 100%;
		min-height: 50px;
		height: auto;

		padding: 5px 10px 5px 10px;
		background-color: $w230;


		.u-t-input{
      font-size: 14px;
			line-height: 22px;
			height: auto;
			min-height: 40px;

			input{
        height: 40px;
				line-height: 40px;
				font-size: 15px;
				// margin-top: 1px;
      }

			.tag{
        line-height: 30px;


				span{
          margin: 0;
					float: none;
					color: white;
					font-weight: normal;
        }

				.t-u-delete{
          vertical-align: middle;
					margin-top: -2px;
					cursor: pointer;
        }
      }
    }

		.searchResult{
      position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: auto;
			background-color: white;
			border: 1px solid $w230;
			display: none;
			z-index: 1;

			li{
        width: 100%;
				height: 30px;
				padding: 5px;
				line-height: 20px;
				cursor: pointer;
				&[select="true"]{
          background-color: $gfi;
					// border-bottom: 2px solid $gfi - rgb(50,50,50);
					height: 30px;
					color: $w250;
        }

				&[select="false"]{
          background: none;
					color: $g90;
					&:hover{
						background-color: lighten($gfi, 40%);
					}
        }

				span{
          margin: 0 0 0 5px;
					padding: 0;
					color: inherit;
        }

      }

    }
}


.sectionContain{
	position: absolute;
	height: 100%;
	width: calc(100% - 130px);
	left: 130px;
	top: 0px;
	overflow-y: auto;
	overflow-x: hidden;


	section{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: white;
		padding: 50px 50px 0 50px;
		@include transition(all, 0.4s);

		&[state='false']{
			@include translateX(0%);
		}
		&[state='true']{
			@include translateX(-100%);
		}

		.title{
			position: relative;
			float: left;
			height: 50px;
			width: 100%;

			.wrap{
				position: relative;
				float: left;
				height: 100%;
				width: 100%;
				border-bottom: 1px solid $gfi;


				.etape{
					position: relative;
					float: left;
					height: 100%;
					width: auto;
					font-size: 16px;
					padding-top: 5px;
					text-align: center;
				}

				.text{
					position: relative;
					float: left;
					height: 100%;
					width: auto;
					line-height: 50px;
					font-weight: bold;
					font-size: 25px;
					padding-left: 20px;
				}
			}
		}

		.corps{
			position: relative;
			float: left;
			width: 100%;
			height: auto;
			max-height: calc(100% - 100px);

			.form-wrap{
				position: relative;
				float: left;
				height: auto;
				width: 100%;
				padding: 70px 0px 0 0px;
				max-height: calc(100% - 130px);
				margin-bottom: 50px;

				.form-content{
					position: relative;
					float: left;
					height: 100px;
					width: calc(100% / 3 - 5px);
					padding: 0px 20px 0 20px;

					&[full]{
						width: 100%;
						label{
							font-weight: bold;
						}
					}

					label{
						position: relative;
						float: left;
						text-align: center;
						height: 50px;
						width: 100%;
						padding: 10px 0 0 0;
						font-size: 15px;
						line-height: 15px;
						font-style: italic;
					}

					select{
						position: relative;
					  float: left;
						display: inline-block;
						width: 100%;
					  height: 30px;
						text-align: center;
					  outline: none;
					  color: white;
					  border-radius: 0px;
					  font-size: 13px;
					  line-height: 29px;
					  padding: 0 10px 0 10px;
					  box-shadow: none;
						border: none;
					  background: transparent;
					  background-color: $gfi;
					  margin-bottom: 2px;
					  background-image: none;

					}
				}
			}

			.footer{
				position: relative;
				float: left;
				background-color: white;
				width: 100%;
				height: 80px;
				text-align: center;

				.bouton{
					vertical-align:middle;
				}

			}

		}
	}
}

#offers{

	.noOffer{
		height: 80px;
		line-height: 80px;
		width: 100%;
		text-align: center;
	}
	.offer-wrap{
		position: relative;
		float: left;
		height: 180px;
		width: calc(100% / 3);
		padding: 10px;
		overflow: hidden;
		cursor: pointer;
		margin-top: 30px;

		.offer{
			position: relative;
			float: left;
			background-color: white;
			border: 1px solid $gfi;
			height: auto;
			color: $g90;
			width: 100%;
			font-size: 13px;

			.libelle{
				position: relative;
				float: left;
				width: 100%;
				height: auto;
				padding: 10px 5px 5px 10px;
				overflow-x: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				color: $gfi;
				font-size: 15px;
				font-style: italic;
				font-weight: bold;
			}

			.localisation, .duree{
				position: relative;
				float: left;
				width: 100%;
				height: auto;
				font-size: 14px;
				line-height: 30px;
				padding-left: 10px;
			}

			.competences{
				position: relative;
				float: left;
				height: auto;
				width: 100%;
				padding: 5px;
				text-align: center;
				overflow-x: auto;
				white-space: nowrap;

				.tag{
					background-color: $w230;
					color: rgb(90,90,90);
					border-color: rgb(100,100,100);
					display: inline-block;
					float: none;
				}
			}

			.footer{
				position: relative;
				float: left;
				background-color: $gfi;
				color: white;
				height: 30px;
				line-height: 30px;
				text-align: center;
				font-size: 12px;
			}
		}
	}
}




.windowLoad{
	position: relative;
	float: left;
	height: auto;
	width: 100%;
	background-color: white;
	border-radius: 3px;
	padding: 10px;
	display: none;


	.image{
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		padding: 15px 0 15px 0;
		text-align: center;
	}

	.infos{
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		padding: 10px;
		text-align: center;
	}
}

#offer-window{
	left: 100%;

	.infos_wrapper{
		position: relative;
		float: left;
		height: auto;
		width: 100%;
		margin-top: 50px;
		color: $g90;
		padding-bottom: 20px;

		.description{
			position: relative;
			float: left;
			width: 100%;
			border: 1px solid $gfi;

			.d-title{
				position: relative;
				float: left;
				height: 40px;
				line-height: 40px;
				padding-left: 10px;
				font-size: 18px;
				color: $gfi;
			}

			.d-content{
				position: relative;
				float: left;
				height: auto;
				width: 100%;
				padding: 5px 10px 10px 10px;
				font-size: 15px;
			}
		}

		.i-infos{
			position: relative;
			float: left;
			width: 100%;
			height: auto;
			padding: 10px;
			margin-top: 10px;
			border-bottom: 1px solid $w230;

			.infos_offer{
				position: relative;
				float: left;
				height: auto;
				line-height: 25px;
				width: 100%;
			}
		}

	}
}
