// @import "tools.scss";
@import '_variables.scss';


form{

	.footer{
		height: auto;
		width: 100%;
		position: relative;
		float: left;
	}
}



#ajout-tag-wrap{
		cursor: text;
		height: auto;
		width: 500px;
		min-height: 41px;
		height: auto;


		.u-t-input{
      font-size: 14px;
			line-height: 22px;

			input{
        height: 38px;
				line-height: 38px;
				font-size: 15px;
				// margin-top: 1px;
      }

			.tag{
        line-height: 30px;


				span{
          margin: 0;
					float: none;
					color: white;
					font-weight: normal;
        }

				.t-u-delete{
          vertical-align: middle;
					margin-top: -2px;
					cursor: pointer;
        }
      }
    }

		.searchResult{
      position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: auto;
			background-color: white;
			border: 1px solid $w230;
			display: none;
			z-index: 1;

			li{
        width: 100%;
				height: 30px;
				padding: 5px;
				line-height: 20px;
				cursor: pointer;
				&[select="true"]{
          background-color: $gfi;
					// border-bottom: 2px solid $gfi - rgb(50,50,50);
					height: 30px;
					color: $w250;
        }

				&[select="false"]{
          background: none;
					color: $g90;
					&:hover{
						background-color: lighten($gfi, 40%);
					}
        }

				span{
          margin: 0 0 0 5px;
					padding: 0;
					color: inherit;
        }

      }

    }
}


.sectionContain{
	position: absolute;
	height: auto;
	width: 700px;
	left: 50%;
	@include translateX(-50%);
	top: 20px;


	section{
		position: relative;
		float: left;
		height: auto;
		margin-bottom: 5px;
		width: 100%;
		box-shadow: 0 0 15px rgb(10,10,10);
		background-color: white;



		.title{
			position: relative;
			float: left;
			height: 40px;
			line-height: 40px;
			padding-left: 10px;
			width: 100%;
			font-size: 17px;
			color: rgb(90,90,90);
			background-color: rgb(245,245,245);
			box-shadow: 0 1px 2px $w210;
			overflow: hidden;
			text-align: center;
		}

		.corps{
			position: relative;
			float: left;
			width: 100%;
			padding: 5px 10px 10px 10px;


			.footer{
				position: relative;
				float: left;
				width: 100%;
				height: auto;
				text-align: center;

				.bouton{
					display: inline-block;
					float: none;
					height: 50px;
					font-size: 17px;
					padding-left: 17px;
					padding-right: 17px;
				}
			}



		}
	}
}

#offers{
	.noOffer{
		height: 80px;
		line-height: 80px;
		width: 100%;
		text-align: center;
	}
	.offer{
		position: relative;
		float: left;
		height: auto;
		width: calc(50% - 20px);
		margin-top: 5px;
		margin-left: 10px;
		margin-bottom: 5px;
		background-color: white;
		box-shadow: 0 0 5px $w200;
		border-radius: 3px;
		overflow: hidden;
		color: $g90;
		cursor: pointer;

		.libelle{
			position: relative;
			float: left;
			width: 100%;
			height: auto;
			line-height: 30px;
			padding-left: 10px;
			background-color: $gfi;
			color: white;
		}

		.localisation{
			position: relative;
			float: left;
			width: 100%;
			height: auto;
			line-height: 30px;
			padding-left: 10px;
		}

		.competences{
			position: relative;
			float: left;
			height: auto;
			width: 100%;
			padding: 5px;
			text-align: center;

			.tag{
				background-color: $w230;
				color: rgb(90,90,90);
				border-color: rgb(100,100,100);
				display: inline-block;
				float: none;
			}
		}
	}
}




.windowLoad{
	position: relative;
	float: left;
	height: auto;
	width: 100%;
	background-color: white;
	border-radius: 3px;
	padding: 10px;
	display: none;


	.image{
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		padding: 15px 0 15px 0;
		text-align: center;
	}

	.infos{
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		padding: 10px;
		text-align: center;
	}
}

#popup{
	position: absolute;
	height: auto;
	max-height: 800px;
	min-height: 300px;
	width: 800px;
	display: none;
	background-color: white;
	border-radius: 3px;
	left: 50%;
	top: 50%;
	z-index: 1000;
	// border: 1px solid $w230;
	box-shadow: 0 0 10px rgb(20,20,20);
	@include translate(-50%, -50%);
	overflow: hidden;

	.title{
		position: relative;
		float: left;
		height: 40px;
		color: white;
		width: 100%;
		line-height: 40px;
		background-color: $gfi;
		padding-left: 5px;
	}

	.corps{
		position: relative;
		float: left;
		width: 100%;
		height: auto;
		padding: 5px;
		font-size: 14px;

		.infos_offer{
			width: 100%;
			margin-bottom: 5px;
		}
	}

	.footer{
		position: relative;
		float: left;
		height: 50px;
		width: 100%;
		text-align: center;
		border-top: 1px solid $w210;

		.bouton{
			display: inline-block;
			vertical-align: middle;
		}
	}
}
